.status-media-container-1 {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr;
}
.status-media-container-2 {
  width: 100%;
  overflow: hidden;
  display: grid;
  grid-template-columns: 1fr 1fr;
  aspect-ratio: 2/1;
}
.status-media-container-3 {
  width: 100%;
  overflow: hidden;
  display: grid;
  aspect-ratio: 16/9;
  grid-template-columns: 1fr 1fr;
}
.status-media-container-4 {
  width: 100%;
  overflow: hidden;
  display: grid;
  aspect-ratio: 16/9;
  grid-template-columns: 1fr 1fr;
}
