.custom-emoji {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
}

.rich-content {
  a:hover {
    text-decoration-line: underline;
  }
  a {
    .invisible {
      display: none;
    }
    .ellipsis {
      overflow: hidden;
      text-overflow: ellipsis;
      white-space: nowrap;
    }
  }
  b {
    font-weight: 700;
  }
  p {
    margin-top: 0.5rem;
    margin-bottom: 0.5rem;
  }
}

.skeleton-loading-bg {
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

body {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

html.dark {
  color-scheme: dark;
}

html {
  --at-apply: bg-base text-base;
}
