.custom-emoji {
  display: inline-block;
  height: 1.2em;
  width: 1.2em;
  vertical-align: middle;
}

.rich-content {
  line-height: calc(4 / 3 * 1em);
  overflow-wrap: break-word;
  word-break: break-all;

  a {
    --at-apply: 'text-primary hover:underline hover:text-primary-active';
    .invisible {
      --at-apply: 'hidden';
    }
    .ellipsis {
      --at-apply: 'line-clamp-1 ws-pre-wrap break-all inline';
      &::after {
        content: '…';
      }
    }
  }
  b, strong {
    --at-apply: font-bold;
  }
  p {
    --at-apply: my-1;
  }
  code {
    --at-apply: bg-code text-code px1 py0.5 rounded text-0.9em leading-0.8em;
  }
  pre code {
    --at-apply: bg-transparent px0 py0 rounded-none leading-1.6em;
  }

  .code-block {
    --at-apply: font-mono bg-code text-base p3 mt-2 rounded overflow-auto leading-1.6em;

    .shiki {
      background: transparent !important;
    }
  }
}


.content-editor {
  --at-apply: outline-none flex-1;
  max-width: 100%;
}


.skeleton-loading-bg {
  background: linear-gradient(
    90deg,
    rgba(190, 190, 190, 0.2) 25%,
    rgba(129, 129, 129, 0.24) 37%,
    rgba(190, 190, 190, 0.2) 63%
  );
  background-size: 400% 100%;
  animation: skeleton-loading 1.4s ease infinite;
}

@keyframes skeleton-loading {
  0% {
    background-position: 100% 50%;
  }
  to {
    background-position: 0 50%;
  }
}

.dialog-visible-enter-active,
.dialog-visible-leave-active {
  transition-duration: 0.25s;

  .dialog-mask {
    transition: opacity 0.25s ease;
  }

  .dialog-main {
    transition: opacity 0.25s ease, transform 0.25s ease;
  }
}

.dialog-visible-enter-from,
.dialog-visible-leave-to {
  .dialog-mask {
    opacity: 0;
  }

  .dialog-main {
    transform: translateY(50px);
    opacity: 0;
  }
}

.p-safe-area {
  padding-top: env(safe-area-inset-top);
  padding-right: env(safe-area-inset-right);
  padding-bottom: env(safe-area-inset-bottom);
  padding-left: env(safe-area-inset-left);
}

body {
  overflow-y: scroll;
  -webkit-tap-highlight-color: transparent;
}

html.dark {
  color-scheme: dark;
}

html {
  --at-apply: bg-base text-base;
}

.tiptap p.is-editor-empty:first-child::before {
  color: #adb5bd;
  content: attr(data-placeholder);
  float: left;
  height: 0;
  pointer-events: none;
}

.modal-animated {
  animation: fadeUp 100ms forwards;
}

@keyframes fadeUp {
  from {
    opacity: .5;
    transform: translateY(100%);
  }
  to {
    opacity: 1;
    transform: translateY(0);
  }
}

button {
  outline: none;
}
